@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "./actiontext.scss";

trix-editor.form-control {
  height: auto;
}

.navbar {
  margin-bottom: 0.5rem;
}

.btn-sm, .btn-group-sm > .btn {
  margin-right: 0.2rem;
}

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }